.text-red {
    color: #ff3838;
    font-weight: bold;
}

.slika-oprema {
    margin: 0 auto;
    display: block;
    border-radius: 15px;
}

.modal-dialog {
    max-width: 70% !important;
}

@media only screen and (max-width: 1024px) {
    .modal-dialog {
        max-width: 95% !important;
    }
}


.table-pgd {
    font-size: 14px !important;
}

    .table-pgd td, .table-pgd th {
        padding: .25rem !important;
        border-bottom: solid 1px #e6e6e6;
    }
