@model List<PgdGorenjiLogatec.CustomModels.Intervencija>

@{
    ViewData["Title"] = "Home Page";
}

<!-- ======= Hero Section ======= -->
<section id="hero">
    <div id="heroCarousel" class="carousel slide carousel-fade" data-ride="carousel">

        <div class="carousel-inner" role="listbox">

            <!-- Slide 1 -->
            <div class="carousel-item active" style="background-image: url(pictures/GasilskiDom.jpg);">
                <div class="carousel-container">
                    <div class="carousel-content animate__animated animate__fadeInUp">
                        <h2></h2>
                        <p></p>
                    </div>
                </div>
            </div>

            <!-- Slide 2 -->
            <div class="carousel-item" style="background-image: url(pictures/Gasilci.jpg);">
                <div class="carousel-container">
                    <div class="carousel-content animate__animated animate__fadeInUp">
                        <h2></h2>
                        <p></p>
                    </div>
                </div>
            </div>

            <!-- Slide 3 -->
            <div class="carousel-item" style="background-image: url(pictures/vaje.jpg);">
                <div class="carousel-container">
                    <div class="carousel-content animate__animated animate__fadeInUp">
                        <h2></h2>
                        <p></p>
                    </div>
                </div>
            </div>

        </div>

        <a class="carousel-control-prev" href="#heroCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon icofont-simple-left" aria-hidden="true"></span>
            <span class="sr-only">Prejšnja</span>
        </a>

        <a class="carousel-control-next" href="#heroCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon icofont-simple-right" aria-hidden="true"></span>
            <span class="sr-only">Naslednja</span>
        </a>

        <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

    </div>
</section>
<!-- End Hero -->
<!-- ======= About Us Section ======= -->
<section id="about-us" class="about-us">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>PROSTOVOLJNO GASILSKO DRUŠTVO GORENJI LOGATEC</h2>
        </div>

        <div class="row content">
            <div class="col-lg-5 col-md-12 pt-4 pt-lg-0" data-aos="fade-right">
                <img src="~/pictures/PGD_Logo.png" style="margin: 0 auto; display: block" />
            </div>
            <div class="col-lg-7 col-md-12 pt-4 pt-lg-0" data-aos="fade-left">
                <p>
                    Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                    velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum
                </p>
                <p class="font-italic">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua.
                </p>
            </div>
        </div>

    </div>
</section>
<!-- End About Us Section -->
<!-- ======= Blog Section ======= -->
<section id="blog" class="blog">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 entries">
                @{ 
                    foreach (var inter in Model) { 
                        <article class="entry" data-aos="fade-up">
                            <h4 class="entry-title">
                                @inter.Naslov.ToUpper()
                            </h4>

                            <div class="entry-meta">
                                <ul>
                                    <li class="d-flex align-items-center"><i class="icofont-wall-clock"></i> <a href="blog-single.html"><time datetime="@inter.Datum">@inter.Datum.ToShortDateString()</time></a></li>
                                </ul>
                            </div>

                            <div class="entry-content">
                                <p>
                                    @inter.Opis
                                </p>
                            </div>

                        </article>
                    }
                }

                @*<article class="entry" data-aos="fade-up">
                    <h4 class="entry-title">
                        Dimniški požar
                    </h4>

                    <div class="entry-meta">
                        <ul>
                            <li class="d-flex align-items-center"><i class="icofont-wall-clock"></i> <a href="blog-single.html"><time datetime="2020-01-01">Jan 1, 2020</time></a></li>
                        </ul>
                    </div>

                    <div class="entry-content">
                        <p>
                            Similique neque nam consequuntur ad non maxime aliquam quas. Quibusdam animi praesentium. Aliquam et laboriosam eius aut nostrum quidem aliquid dicta.
                            Et eveniet enim. Qui velit est ea dolorem doloremque deleniti aperiam unde soluta. Est cum et quod quos aut ut et sit sunt. Voluptate porro consequatur assumenda perferendis dolore.
                        </p>
                    </div>

                </article>*@
            </div><!-- End blog entries list -->
        </div>
    </div>
</section>
<!-- End Blog Section -->
<!-- ======= Contact Section ======= -->
<div class="map-section">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d694.032233681742!2d14.2024265292568!3d45.908731931839455!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x477b286fe4083dcf%3A0x1b2b19471e5bbb12!2sProstovoljno%20gasilsko%20dru%C5%A1tvo%20Gorenji%20Logatec!5e0!3m2!1sen!2ssi!4v1622220915470!5m2!1sen!2ssi" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>

<section id="contact" class="contact">
    <div class="container">
        <div class="row justify-content-center" data-aos="fade-up">
            <div class="col-lg-12">
                <div class="info-wrap">
                    <div class="row">
                        <div class="col-lg-4 info">
                            <i class="icofont-google-map"></i>
                            <h4>Lokacija:</h4>
                            <p>Tržaška cesta 109, Logatec, 1370</p>
                        </div>

                        <div class="col-lg-4 info mt-4 mt-lg-0">
                            <i class="icofont-phone"></i>
                            <h4>Telefon:</h4>
                            <p>01 754 14 77</p>
                        </div>

                        <div class="col-lg-4 info mt-4 mt-lg-0">
                            <i class="icofont-envelope"></i>
                            <h4>Email:</h4>
                            <p>pgdgorenjilogatec@gmail.com</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Contact Section -->