@model List<PgdGorenjiLogatec.CustomModels.Intervencija>
@{
    ViewData["Title"] = "Intervencije";

}

<section id="blog" class="blog" style="padding: 90px !important;">
    <div class="section-title">
        <h2>NAŠE LETNE INTERVENCIJE IN POSREDOVANJA</h2>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12 entries">
                <div class="row">
                    <div class="col-lg-10 text-right">
                        <h4>Arhiv: </h4>
                    </div>
                    <div class="col-lg-2 text-right w-100">
                        <select name="cars" id="arhiv_leto" onchange="doIt()">
                            <option value="2021">Intervencije 2021</option>
                            <option value="2020">Intervencije 2020</option>
                            <option value="2019">Intervencije 2019</option>
                        </select>
                    </div>
                </div>
                <br />
                <div id="qweqwe">
                    @foreach (var qwe in Model)
                    {
                        <article class="entry" data-aos="fade-up">
                            <h4 class="entry-title">
                                @qwe.Naslov.ToUpper()
                            </h4>

                            <div class="entry-meta">
                                <ul>
                                    <li class="d-flex align-items-center"><i class="icofont-wall-clock"></i> <a href="blog-single.html"><time datetime="@qwe.Datum">@qwe.Datum.ToShortDateString()</time></a></li>
                                </ul>
                            </div>

                            <div class="entry-content">
                                <p>
                                    @qwe.Opis
                                </p>
                            </div>

                        </article>
                    }
                </div>
            </div>
        </div>
    </div>
</section>