
@{
    ViewData["Title"] = "Tekmovanja";
}
<section id="about-us" class="about-us">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Naša vozila in oprema</h2>
        </div>

        <div class="row content">
            <div class="col-lg-6 col-md-12 pt-4 pt-lg-0 order-lg-12 order-12" data-aos="fade-right">
                <img id="kamion" class="w-100 slika-oprema" src="~/pictures/kamion.png" data-toggle="modal" data-target="#exampleModalCenter" onclick="Slika(id)" />
            </div>
            <div class="col-lg-6 col-md-12 pt-4 pt-lg-0 order-lg-1 order-1" data-aos="fade-left">
                <p>
                    <strong>Renault GVC 16/25</strong>
                </p>
                <p class="font-italic">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua.
                </p>
            </div>
        </div>
        <br />
        <br />
        <div class="row content">
            <div class="col-lg-6 col-md-12 pt-4 pt-lg-0 order-lg-1 order-12" data-aos="fade-right">
                <img id="kombi" class="w-100 slika-oprema" src="~/pictures/kombi.png" data-toggle="modal" data-target="#exampleModalCenter" onclick="Slika(id)" />
            </div>
            <div class="col-lg-6 col-md-12 pt-4 pt-lg-0 order-lg-12 order-1" data-aos="fade-left">
                <p>
                    <strong>Volkswagen Transporter - GVM-1</strong>
                </p>
                <p class="font-italic">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua.
                </p>
            </div>

        </div>
        <br />
        <br />
        <div class="row content">
            <div class="col-lg-6 col-md-12 pt-4 pt-lg-0 order-lg-12 order-12" data-aos="fade-right">
                <img id="ranger" class="w-100 slika-oprema" src="~/pictures/ranger.png"  data-toggle="modal" data-target="#exampleModalCenter" onclick="Slika(id)" />
            </div>
            <div class="col-lg-6 col-md-12 pt-4 pt-lg-0 order-lg-1 order-1" data-aos="fade-left">
                <p>
                    <strong>Ford Ranger - GVGP-1</strong>
                </p>
                <p class="font-italic">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua.
                </p>
            </div>
        </div>
        <br />
        <br />
        <div class="row content">
            <div class="col-lg-6 col-md-12 pt-4 pt-lg-0 order-lg-1 order-12" data-aos="fade-right">
                <img id="trda-prikolica" class="w-100 slika-oprema" src="~/pictures/prikolica-trda.png"  data-toggle="modal" data-target="#exampleModalCenter" onclick="Slika(id)"/>
            </div>
            <div class="col-lg-6 col-md-12 pt-4 pt-lg-0 order-lg-12 order-1" data-aos="fade-left">
                <p>
                    <strong>Prikolica GP-1</strong>
                </p>
                <p class="font-italic">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua.
                </p>
            </div>

        </div>
        <br />
        <br />
        <div class="row content">
            <div class="col-lg-6 col-md-12 pt-4 pt-lg-0 order-lg-12 order-12" data-aos="fade-right">
                <img id="mehka-prikolica" class="w-100 slika-oprema" src="~/pictures/prikolica-mehka.png" data-toggle="modal" data-target="#exampleModalCenter" onclick="Slika(id)"/>
            </div>
            <div class="col-lg-6 col-md-12 pt-4 pt-lg-0 order-lg-1 order-1" data-aos="fade-left">
                <p>
                    <strong>Prikolica GP-2</strong>
                </p>
                <p class="font-italic">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua.
                </p>
            </div>

        </div>
    </div>
</section>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div id="carouselExampleControls" class="carousel slide" data-interval="false">
                    <div id="galerija" class="carousel-inner">
                        <div id="kamion" class="carousel-item">
                            <img class="d-block w-100" src="~/pictures/kamion.png" alt="First slide">
                        </div>
                        <div id="kombi" class="carousel-item">
                            <img class="d-block w-100" src="~/pictures/kombi.png" alt="Second slide">
                        </div>
                        <div id="ranger" class="carousel-item">
                            <img class="d-block w-100" src="~/pictures/ranger.png" alt="Third slide">
                        </div>
                        <div id="trda-prikolica" class="carousel-item">
                            <img class="d-block w-100" src="~/pictures/prikolica-trda.png" alt="Third slide">
                        </div>
                        <div id="mehka-prikolica" class="carousel-item">
                            <img class="d-block w-100" src="~/pictures/prikolica-mehka.png" alt="Third slide">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>