
@{
    ViewData["Title"] = "Tekmovanja";
}
<section id="about-us" class="povezave about-us">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Naša vozila in oprema</h2>
        </div>

        <div class="row content">
            <div class="col-lg-6 col-md-12 pt-4 pt-lg-0 order-lg-12 order-12" data-aos="fade-right">
                <img class="w-100" src="~/pictures/kamion.png" style="margin: 0 auto; display: block; border-radius: 15px; " />
            </div>
            <div class="col-lg-6 col-md-12 pt-4 pt-lg-0 order-lg-1 order-1" data-aos="fade-left">
                <p>
                    <strong>Renault GVC 16/25</strong>
                </p>
                <p class="font-italic">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua.
                </p>
            </div>
        </div>
        <br />
        <br />
        <div class="row content">
            <div class="col-lg-6 col-md-12 pt-4 pt-lg-0 order-lg-1 order-12" data-aos="fade-right">
                <img class="w-100" src="~/pictures/kombi.png" style="margin: 0 auto; display: block; border-radius: 15px;" />
            </div>
            <div class="col-lg-6 col-md-12 pt-4 pt-lg-0 order-lg-12 order-1" data-aos="fade-left">
                <p>
                    <strong>Volkswagen Transporter - GVM-1</strong>
                </p>
                <p class="font-italic">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua.
                </p>
            </div>

        </div>
        <br />
        <br />
        <div class="row content">
            <div class="col-lg-6 col-md-12 pt-4 pt-lg-0 order-lg-12 order-12" data-aos="fade-right">
                <img class="w-100" src="~/pictures/ranger.png" style="margin: 0 auto; display: block; border-radius: 15px;" />
            </div>
            <div class="col-lg-6 col-md-12 pt-4 pt-lg-0 order-lg-1 order-1" data-aos="fade-left">
                <p>
                    <strong>Ford Ranger - GVGP-1</strong>
                </p>
                <p class="font-italic">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua.
                </p>
            </div>
        </div>
        <br />
        <br />
        <div class="row content">
            <div class="col-lg-6 col-md-12 pt-4 pt-lg-0 order-lg-1 order-12" data-aos="fade-right">
                <img class="w-100" src="~/pictures/prikolica-trda.png" style="margin: 0 auto; display: block; border-radius: 15px;" />
            </div>
            <div class="col-lg-6 col-md-12 pt-4 pt-lg-0 order-lg-12 order-1" data-aos="fade-left">
                <p>
                    <strong>Prikolica GP-1</strong>
                </p>
                <p class="font-italic">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua.
                </p>
            </div>

        </div>
        <br />
        <br />
        <div class="row content">
            <div class="col-lg-6 col-md-12 pt-4 pt-lg-0 order-lg-12 order-12" data-aos="fade-right">
                <img class="w-100" src="~/pictures/prikolica-mehka.png" style="margin: 0 auto; display: block; border-radius: 15px;" />
            </div>
            <div class="col-lg-6 col-md-12 pt-4 pt-lg-0 order-lg-1 order-1" data-aos="fade-left">
                <p>
                    <strong>Prikolica GP-2</strong>
                </p>
                <p class="font-italic">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua.
                </p>
            </div>

        </div>
    </div>
</section>