@{
}

<section id="contact" class="contact povezave">
    <div class="section-title">
        <h2>Ureditev notranjih organov društva</h2>
    </div>
    <div class="container">
        <div class="row justify-content-center" data-aos="fade-up">
            <div class="col-lg-12">

                <div class="row">
                    <div class="col-12 text-red">
                        UPRAVNI ODBOR
                    </div>
                </div>
                <table class="table-pgd table-responsive">
                    <tbody>
                        <tr>
                            <th>Blaž Gantar</th>
                            <td>Predsednik</td>
                        </tr>
                        <tr>
                            <th>Matej Brus</th>
                            <td>Namestnik predsednika</td>
                        </tr>
                        <tr>
                            <th>Simon Rupnik</th>
                            <td>podpredsednik, predstavnik GE Žibrše</td>
                        </tr>
                        <tr>
                            <th>Janja Gantar</th>
                            <td>Tajnica</td>
                        </tr>
                        <tr>
                            <th>Mojca Nagode</th>
                            <td>Blagajničarka</td>
                        </tr>
                        <tr>
                            <th>Tjaša Pavlin</th>
                            <td>predsednica komisije za mladino (člani komisije: Janja Gantar, Karin Modrijan, Aljaž Lukan)</td>
                        </tr>
                        <tr>
                            <th>Irena Gostiša</th>
                            <td>predsednica komisije za članice (člani komisije: Katja Žgavec, Jerina Mihaela)</td>
                        </tr>
                        <tr>
                            <th>Janez Pečkaj</th>
                            <td>predsednik komisije za veterane (člani komisije: Peter Fortuna, Janez Gostiša)</td>
                        </tr>
                        <tr>
                            <th>Blaž Kranjc</th>
                            <td>Član</td>
                        </tr>
                        <tr>
                            <th>Janko Cepič</th>
                            <td>Član</td>
                        </tr>
                        <tr>
                            <th>Janez Gostiša</th>
                            <td>Član, poveljnik</td>
                        </tr>
                    </tbody>
                </table>
                <br />
                <br />

                <div class="row">
                    <div class="col-12 text-red">
                        POVELJSTVO
                    </div>
                </div>
                <table class="table-pgd">
                    <tbody>
                        <tr>
                            <th>Janez Gostiša</th>
                            <td>Poveljnik</td>
                        </tr>
                        <tr>
                            <th>Tonček Nagode</th>
                            <td>Namestnik poveljnika</td>
                        </tr>
                        <tr>
                            <th>Matjaž Nagode</th>
                            <td>Podpoveljnik</td>
                        </tr>
                        <tr>
                            <th>Matic Demšar</th>
                            <td>podpoveljnik, predstavnik GE Žibrše</td>
                        </tr>
                        <tr>
                            <th>Gregor Tomazin</th>
                            <td>Pomočnik poveljnika za IDA</td>
                        </tr>
                        <tr>
                            <th>Boštjan Čuk</th>
                            <td>Pomočnik poveljnika za radijske zveze</td>
                        </tr>
                        <tr>
                            <th>Lovro Nagode</th>
                            <td>Pomočnik poveljnika za prvo pomoč</td>
                        </tr>
                        <tr>
                            <th>Marko Tomazin</th>
                            <td>Vodja oddelka, desetar</td>
                        </tr>
                        <tr>
                            <th>Marko Cepič</th>
                            <td>Glavni strojnik</td>
                        </tr>
                        <tr>
                            <th>Matej Brus</th>
                            <td>Orodjar</td>
                        </tr>
                    </tbody>
                </table>

                <br />
                <br />

                <div class="row">
                    <div class="col-12 text-red">
                        NADZORNI ODBOR
                    </div>
                </div>

                <table class="table-pgd">
                    <tbody>
                        <tr>
                            <th>Janez Gostiša</th>
                            <td>Predsednik</td>
                        </tr>
                        <tr>
                            <th>Marko Oblak</th>
                            <td>Član</td>
                        </tr>
                        <tr>
                            <th>Marjan Žigon</th>
                            <td>Član</td>
                        </tr>
                    </tbody>
                </table>

                <br />
                <br />

                <div class="row">
                    <div class="col-12 text-red">
                        DISCIPLINSKA KOMISIJA
                    </div>
                </div>
                <table class="table-pgd">
                    <tbody>
                        <tr>
                            <th>Toni Čuk</th>
                            <td>Predsednik</td>
                        </tr>
                        <tr>
                            <th>Dušan Krašna</th>
                            <td>Član</td>
                        </tr>
                        <tr>
                            <th>Ivanka Rudolf</th>
                            <td>Član</td>
                        </tr>
                    </tbody>
                </table>

                <br />
                <br />

                <div class="row">
                    <div class="col-12 text-red">
                        KOMISIJA ZA ODLIKOVANJA
                    </div>
                </div>
                <table class="table-pgd">
                    <tbody>
                        <tr>
                            <th>Janko Cepič</th>
                            <td>Predsednik</td>
                        </tr>
                        <tr>
                            <th>Anton Zvone Čuk</th>
                            <td>Član</td>
                        </tr>
                        <tr>
                            <th>Gregor Tomazin</th>
                            <td>Član</td>
                        </tr>
                    </tbody>
                </table>

                <br />
                <br />
                <div class="row">
                    <div class="col-12 text-red">
                        ČASTNI ČLANI DRUŠTVA
                    </div>
                </div>
                <table class="table-pgd">
                    <tbody>
                        <tr>
                            <th>Alojzij Molk</th>
                            <td>Častni predsednik</td>
                        </tr>
                        <tr>
                            <th>Anton Zvone Čuk</th>
                            <td>Častni poveljnik</td>
                        </tr>
                    </tbody>
                </table>

                <br />
                <br />

            </div>
        </div>
    </div>
</section>