
@{
    ViewData["Title"] = "Povezave";
}


<section id="povezave" class="povezave">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Koristne povezave</h2>
        </div>

        <div class="row content mb-5">
            <div class="col-lg-6 col-md-12 pt-4 pt-lg-0 text-center zoom" data-aos="fade-right">
                <a href="https://gasilec.net/" class="">
                    <img src="~/pictures/gzs-logo.png" style="margin: 0 auto; display: block; height: 100px;" class="mt-2 mb-4" />
                    GASILSKA ZVEZA SLOVENIJE
                </a>
            </div>
            <div class="col-lg-6 col-md-12 pt-4 pt-lg-0 text-center zoom" data-aos="fade-right">
                <a href="https://resevalni-pas.si/" class="">
                    <img src="~/pictures/resevalni-pas-logo.png" style="margin: 0 auto; display: block; height: 100px;" class="mt-2 mb-4" />
                    ZAVOD REŠEVALNI PAS
                </a>
            </div>
        </div>

        <div class="row content mb-5 mt-5">
            <div class="col-lg-6 col-md-12 pt-4 pt-lg-0 text-center zoom" data-aos="fade-right">
                <a href="https://www.logatec.si/">
                    <img src="~/pictures/logatec-logo.png" style="margin: 0 auto; display: block; height: 100px;" class="mt-2 mb-4" />
                    OBČINA LOGATEC
                </a>
            </div>

            <div class="col-lg-6 col-md-12 pt-4 pt-lg-0 text-center zoom" data-aos="fade-right"> 
                <a href="https://zd-logatec.si/">
                    <img src="~/pictures/zdlogatec-logo.png" style="margin: 0 auto; display: block; height: 100px;" class="mt-2 mb-4" />
                    ZDRAVSTVENI DOM LOGATEC
                </a>
            </div>
        </div>

        <div class="row content mb-5 mt-5">
            <div class="col-lg-12 col-md-12 pt-4 pt-lg-0 text-center zoom" data-aos="fade-right">
                <a href="https://spin3.sos112.si/javno/zemljevid">
                    <img src="~/pictures/spin-logo.png" style="margin: 0 auto; display: block; height: 100px;" class="mt-2 mb-4" />
                    Sistem za Poročanje o Intervencijah in Nesrečah - SPIN
                </a>
            </div>
        </div>
    </div>
</section>