@model PgdGorenjiLogatec.CustomModels.Intervencija

@{
    ViewData["Title"] = "Dodaj";
}

<section id="blog" class="blog" style="padding: 90px !important;">

    <form asp-action="Dodaj">
        <div class="section-title">
            <h2>Urejanje Intervencije</h2>
        </div>
        <div class="container">
            <div class="col-xl-12">
                <div class="row">
                    <div class="col-6 w-100 text-left">
                        Prijavljeni kot: <b>@TempData["user"].ToString().ToUpper()</b>
                    </div>
                    <div class="col-6 w-100 text-right">
                        <input type="submit" value="Dodaj" class="btn btn-success" />
                    </div>
                </div>
                <br />
                <div class="row">
                    <div>
                        <label asp-for="Id" hidden class="control-label"></label>
                    </div>
                    <div class="col-4 font-weight-bold">
                        <label asp-for="Naslov" class="control-label"></label>
                    </div>
                    <div class="col-3 font-weight-bold">
                        <label asp-for="Datum" class="control-label"></label>
                    </div>
                    <div class="col-5 font-weight-bold">
                        <label asp-for="Opis" class="control-label"></label>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <input asp-for="Id" hidden class="form-control" readonly />
                        <span asp-validation-for="Id" class="text-danger"></span>
                    </div>
                    <div class="col-4">
                        <textarea asp-for="Naslov" class="form-control" rows="5" , cols="30"></textarea>
                        <span asp-validation-for="Naslov" class="text-danger"></span>
                    </div>
                    <div class="col-3">
                        <input asp-for="Datum" type="datetime-local" class="form-control" />
                        <span asp-validation-for="Datum" class="text-danger"></span>
                    </div>
                    <div class="col-5">
                        <textarea asp-for="Opis" class="form-control" rows="10" , cols="50"></textarea>
                        <span asp-validation-for="Opis" class="text-danger"></span>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-12 w-100 text-right">
                        <a asp-action="UrejanjeIntervencij" class="btn btn-secondary">Nazaj na seznam</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>
