@model PgdGorenjiLogatec.CustomModels.Intervencija

@{
    ViewData["Title"] = "Izbrisi";
}


<section id="blog" class="blog" style="padding: 90px !important;">
    <form asp-controller="Admin" asp-action="Izbrisi" method="post">
        <div class="section-title">
            <h2>Urejanje Intervencije</h2>
        </div>

        <div class="container">
            <div class="col-xl-12">
                <div class="row">
                    <div class="w-100 text-right">
                        <input type="submit" value="Izbriši intervencijo" class="btn btn-danger" />
                    </div>
                </div>
                <br />
                <div class="row">
                    <table class="table">
                        <thead>
                            <tr>
                                <td><b>Naslov intervencije</b></td>
                                <td><b>Datum intervencije</b></td>
                                <td><b>Opis intervencije</b></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="display:none;">
                                    @Html.HiddenFor(x => x.Id)
                                </td>
                                <td>
                                    @Html.TextAreaFor(x => x.Naslov, new { @readonly = true, rows = "5", cols = "30", style = "resize: none; width: 100%;" })
                                </td>
                                <td>
                                    @Html.TextBoxFor(x => x.Datum, new { @readonly = true })
                                </td>
                                <td>
                                    @Html.TextAreaFor(x => x.Opis, new { @readonly = true, rows = "10", cols = "50", style = "resize: none; width: 100%;" })
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="w-100 text-right">
                        <a asp-action="UrejanjeIntervencij" class="btn btn-secondary">Nazaj na seznam</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>