@model PgdGorenjiLogatec.CustomModels.Intervencija

@{
    ViewData["Title"] = "Urejanje Intervencije";
}

<section class="povezave">
    <h1>Urejanje Intervencije</h1>
    <form asp-controller="Admin" asp-action="Uredi" method="post">
        <table class="table">
            <thead>
                <tr>
                    <td><b>Naslov intervencije</b></td>
                    <td><b>Datum intervencije</b></td>
                    <td><b>Opis intervencije</b></td>
                </tr>

            </thead>
            <tbody>
                <tr>
                    <td style="display:none;">
                        @Html.HiddenFor(x => x.Id)
                    </td>
                    <td>
                        @Html.TextAreaFor(x => x.Naslov, new { rows = "5", cols = "40", style = "resize: none; " })
                    </td>
                    <td>
                        @Html.TextBoxFor(x => x.Datum)
                    </td>
                    <td>
                        @Html.TextAreaFor(x => x.Opis, new { rows = "10", cols = "80", style = "resize: none; " })
                    </td>
                </tr>
            </tbody>
        </table>
        <button type="submit" class="btn btn-secondary">Posodobi</button> |
        <a asp-action="UrejanjeIntervencij">Nazaj na seznam</a>
    </form>
</section>
